/* Body Styling */
body {
    background-color: var(--dark-bg);
    color: var(--neon-blue);
    font-family: 'Orbitron', sans-serif;
    transition: margin-left 0.3s ease-in-out;
}

/* Scrollbar Styling */
.neon-sidebar::-webkit-scrollbar {
    width: 8px;
}

.neon-sidebar::-webkit-scrollbar-track {
    background: var(--dark-bg);
}

.neon-sidebar::-webkit-scrollbar-thumb {
    background-color: var(--neon-blue);
    border-radius: 4px;
}
